<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Tags</title>
</head>

<body>
  <h1>
    Ejs Tags
  </h1>
  <p>Current second: <%=seconds%>  
    <!-- Current second goes here -->
  </p>
  <%if (seconds % 2===0) {%>    <!--run js usiing this tags but not output-->
   <% for(var i=0;i<3;i++){ %>
  <ul>
    <%=items[i]%> <!--Get output of js from index.js-->
  </ul>
  <%}%>
 <% } else { %>
  <p>No items to display</p>
 <% }%>
  <p>
    <%-htmlContent%> <!--Direct html content render-->
  </p>

  <!-- Footer goes here -->
   <%- include("footer.ejs")%>  <!-- Render another ejs file-->
</body>

</html>